.Estados{
  display: flex !important;
  align-content: flex-start !important;
  justify-content: center !important;
  align-items: flex-start !important;
  height: auto;
  width: 100%;
}

.general{
  margin: 20px;
}